@import '../../imports.scss';

.Card {
    @include flex($dir:column);
    font-size: 1.8vh;
    height: 50vh;

    .Text {
        width: 100%;
        color: $theme1;
        text-align: center;
        h2 {
            width: fit-content;
            margin: auto;
            padding: 0.2rem 1rem;
        }
        animation: fadeIn 0.5s ease-in-out;
    }
    .Images {
        width: 100%;
        @include flex-c;
        
        animation: fadeIn 0.5s ease-in-out 0.4s both;
        img {
            height: 18vh;
            box-shadow: 2px 2px 6px rgb(73, 73, 73);
            border: 1px solid rgb(197, 197, 197);
            margin: 0 1rem;
            transition: transform 0.1s;
            transform-origin: top;
        }
    }
}
@media only screen and (orientation: portrait) {
    .Card {
        .Images {
            flex-direction: column;
            
            img {
                height: 20vh;
                width: unset;
                margin: 1rem 0;
               
            }
        }
    }
}