@import '../../imports.scss';
.Cards {
    @include flex($dir: column);
    height: 100%;
    .Control {
        height: 8vh;
        @include flex-c();
        .Swap {
            width: fit-content;
            display: flex;
            .Bubble {
                background: $theme1;
                margin: 0 1vh;
                height: 2.2vh;
                width: 2.2vh;
                opacity: 0.8;
                cursor: pointer;
                transition: all 0.4s;
                &:hover {
                    opacity: 1;
                }
            }
            .Active {
                background: crimson;
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}