@import '../../Layout/scss/variables';
@import '../../Layout/scss/mixins';

.TableHeader {
    display: flex;
    font-weight: 600;
    font-size: $fontN;
    color: $fontLight;
    background: $theme1;
    flex-basis: 3%;

    .Cell{
        @include flex-c();
        border: 1px solid $border1;
        border-bottom: none;
        position: relative;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            border-color: $higlight;
            color: $higlight;
        }
        .Arrow {
            @include flex-c();
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 20%;
        }
        .ArrowDown {
            @extend .Arrow;
            transform: rotateX(180deg);
            transform-origin: center;
        }
    }
    
}


