@import '../../imports.scss';

.TableWrap {
    @include flex(column);
    height: 100%;
    .Nav {
        flex-basis: 5%;
        min-height: 5%;
        @include flex($aitems: center);
       
        .Controls {
            flex-basis: 80%;
         
            height: 100%;
            @include flex($aitems: center );
            box-sizing: border-box;
            padding-right: 2rem;
            
        }
    }
    .Table {
        @include flex(column);
        flex-basis: 92%;
        animation: fadeIn 0.4s ease-out ;
        .Row {
            height: 10%;
            display: flex;
            border-bottom: 1px solid  rgba(92, 90, 90, 0.541);
            background: rgba(255, 255, 255, 0.24);
        
            .Cell {
                @include flex-c();
                position: relative;
                text-align: center;
                cursor: pointer;
                border-left: 1px solid rgba(92, 90, 90, 0.541);
                &:nth-of-type(1) {
                    border-left: none;
                }
                .Text {
                    padding: 0 0.5rem;
                    position: absolute;
                    width: fit-content;
                    max-width: 95%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: $fontN;
                    
                    &:hover {
                        z-index: 100;
                        max-width: unset;
                        width: fit-content;
                        overflow: visible;
                        background-color: $theme1;
                        color: $fontLight;
                        padding: 0.5rem;
                        font-size: 2vh;
                    }
                }
            }
            
            &:hover {
                background: rgba(241, 169, 61, 0.342);
            }
        }

        .Message {
            margin: 20% auto;
            
            font-size: $fontXLL;
            font-weight: 800;
            opacity: 0.3;
        }

        .bd-l {
            border-left: 1px solid rgba(43, 42, 42, 0.918);
        }
    }
}










