@import '../../../imports.scss';

.AsideToggle {
    width: 4vh;
    height: 4vh;
    margin: auto;
    margin-top: 2vh;
    @include flex-c;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 3px $theme1;
    transition: all 0.5s ;
    cursor: pointer;
    font-weight: 600;
    font-size: 2vh;
    color: rgba(128, 128, 128, 0.836);

   
    &:hover {
        color: white;
        border-color: white;
        background: crimson;
    }
}

aside {
    .AsideToggle {
        top: 1.5vh;
        right: -2vh;
    }
}
main {
    .AsideToggle {
        position: absolute;
        margin: unset;
        top: 1.5vh;
        left: 2vh;
        animation: fadeIn 0.2s both 0.2s;
        &:hover {
            background: rgb(3, 163, 3);
        }
    }
   
}
