@import '../../../imports.scss';

.SMbutton {
    width: 85%;
    height: 3.5vh;
    border-left: none;
    margin-top: 1.2vh;
    transform-origin: left;
    text-shadow: none;
    background: $theme1;
    font-size: 1.5vh;
    &:hover {
        width: 90%;
       
    }
}
.StatsDisplay {
    width: 100%;
}

.SMActive {
    width: 90%;
    background: $theme2;
}


