@import '../../../imports.scss';

.Stats{
    width: 70%;
    margin: 1.5vh 0;
    @include flex(column); 
    animation: slideIn-right 0.2s ease-out both;
   

    .StatCont {
        width: 100%;
        font-size: $fontN;
        margin: 0.5vh 0;
      
    
        .Stat {
            display: flex;
            padding:  1vh;
            position: relative;
            @include flex-c();
           
        
            .Value {
                flex-basis: 50%;
                @include flex-c();
            }
           
        } 
         
    }
}




