@import '../../../imports.scss';

.UserMenu {
    width: 100%;
    margin-top: 5vh;
    @include flex();
    .Circles {
        width: 30%;
        @include flex-c;

        .Circle {
            height: 1vh;
            width: 1vh;
            border-radius: 50%;
            margin: 0 0.2vh;
            box-shadow: 0 0 2px rgb(146, 146, 146);
            animation: circle 7s ease-in-out both infinite ;
        }

       
    }
    .Name {
        position: relative;
        @include flex-c;
        .Logout {
            animation: fadeIn 0.2s ease-in;
            cursor: pointer;
            
        }
        .Logout {
            font-size: 2.5vh;
            font-weight: 200; 
            &:hover {
                text-decoration: underline;
            }
        }
        
    }

 

}



