@import '../../imports.scss';

.SelectPanel {
    margin-top: 5%;
    padding: 1vh;
    height: 70%;
    width: 60%;
    box-shadow: 0 0 20px rgb(250, 251, 252);
    background-color: rgba(236, 238, 243, 0.938);
}
.StoresList {
    display: flex;
    flex-flow: wrap;
    height: fit-content;
    width: 100%;

    .StoreItem {
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px gray;
        font-size: 2.3vh;
        width: 16%;
        min-width: fit-content;
        height: 5vh;
        margin: 1vh 1%;
        cursor: pointer; 

        .Btn {
            height: 100%;
            width: 100%;
        }
        .SelectBtn {
            @extend .Btn;
            opacity: 0.8;
            transition: opacity 0.3s;
            background:$theme1;
            
            &:hover {
                opacity: 1;
            }
        }
        .EditBtn {
            @extend .Btn;
            width: 20%;
            height: 100%;
            @include flex-c();
            position: absolute;
            padding: 0 0.5vh;
            background: rgba(0, 0, 0, 0.212);
            top: 0;
            right: -100%;
            transition: all 0.2s;
            svg {
                height: 70%;
                fill: white;
            }
            &:hover svg {
                fill: $higlight;
            }
        }

        &:hover .EditBtn {
            right: 0;
        }
    } 
}









