@import '../../Layout/scss/variables';
@import '../../Layout/scss/anim';
@import '../../Layout/scss/mixins';

.SelectPanel {
    margin-top: 5%;
    padding: 1vh;
    height: 70%;
    width: 60%;
    box-shadow: 0 0 20px rgb(250, 251, 252);
    background-color: rgba(236, 238, 243, 0.938);
}
.StoresList {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    .StoreItem {
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px gray;
        font-size: 2.3vh;
        min-width: 20%;
        height: 5%;
        margin: 1vh 1%;
        cursor: pointer; 

        .Btn {
            height: 100%;
            width: 100%;
        }
        .SelectBtn {
            @extend .Btn;
        }
        .EditBtn {
            @extend .Btn;
            width: 20%;
            @include flex-c();
            position: absolute;
            top: 0;
            right: -100%;
            transition: all 0.2s;
            svg {
                height: 80%;
                fill: white;
            }
            &:hover svg {
                fill: $higlight;
            }
        }

        &:hover .EditBtn {
            right: 0;
        }
    } 
}









