@import '../../imports.scss';

.Store {
    display: flex;
    align-items: center;
    margin-left:10%;
    font-weight: 600;
    width: 100%;
    font-size: 2vh;

    .StoreBtn {
        font-size: 3.5vh;
        width: 80%;
        min-width: 20vw;
        height: 5vh;
        margin-left: 1vh;
    }
}








