@import '../../imports.scss';

.Store {
    width: 100%;
    font-size: 2vh;
    

    .StoreBtn {
        display: block;
        background: $theme2;
        color: white;
        font-size: 2.2vh;
        width: 90%;
        margin: 0 auto;
        height: 5vh;
        

    }

}








