@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes load {
    from {
        opacity: 0.1;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
      transform: scaleX(100%);
      }
}
@keyframes slide-out-right {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes circle {
    0% {
       background-color: rgb(53, 52, 52);
    }
    40% {
        background: rgb(245, 185, 75);
    }
    50% {
        transform: scale(0.7);
    }
    70% {
        background: rgb(245, 167, 23);
    }
    100% {
        background-color: rgb(53, 52, 52);
        transform: scale(1);
    }
}
@keyframes color {
    0% {
       color: rgb(53, 52, 52);

    }
    40% {
        color: rgb(245, 185, 75);
    }

    70% {
        color: rgb(240, 161, 14);
    }
    100% {
        color: rgb(53, 52, 52);
    }
}
@keyframes bg-color {
    0% {
        background: rgb(53, 52, 52);

    }
    40% {
        background: rgb(245, 185, 75);
    }

    70% {
        background: rgb(240, 161, 14);
    }
    100% {
        background: rgb(53, 52, 52);
    }
}
@keyframes border-color {
    0% {
        border-color: rgb(53, 52, 52);
     }
     40% {
         border-color: rgb(245, 185, 75);
     }
 
     70% {
         border-color: rgb(240, 161, 14);
     }
     100% {
         border-color: rgb(53, 52, 52);
     }
}
