.over-link {
    color: $theme1;
    font-size: 2.1vh;
    margin: 0 1.2vh;
    &:hover {
        color: $theme1;
        text-decoration: underline;
    }
}
.header {
    height: 5vh;
}
.over-btn {
    @include background(right);
    color: $theme1;
    width: 25%;
    min-width: fit-content;
    height: 100%;
    min-height: 2.5rem;
    border: 1px solid $theme1;
    outline: none;
    &:hover {
        color: white;
        background: $theme1;
        border-color: white;
    }
    &:focus {
       outline: none;
    }
}

.over-card {
    @include background(right);
   
    margin-top: 10%;
    border-color:$theme1;
    color: $theme1;
}
.over-card-header {
    background: none;
    font-weight:500;
    border-color: $theme1;
}
.over-input {
    border-color: $theme1;
}
.over-input:focus {
    box-shadow: 0 0 5px rgb(150, 150, 22);
}
.over-invalid-feedback {
    color: #c32231;
}
.ham-line {
    background: $theme1;
    width: 2rem;
    margin: 0.5rem 0;
    height: 1px;
    background: $theme1;
}
.over-ham-btn {
    border: 1px solid $theme1!important;
}
.over-ham-btn:focus {
    outline: none;
    border-color:  rgb(150, 150, 22);
}
.over-ham-btn:focus .ham-line {
    background: rgb(150, 150, 22);
}