@import './mixins';

body {
   
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', serif;
    background: rgb(56, 136, 201);
    animation: fadeIn 0.2s ease-in;
}



.Background {
    @include flex($dir: column);
    .Header {
        height: 5vh;
        position: relative;
        
        .AccountCtrl {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            font-size: 1.8vh;
            padding-right: 1vh;
            @media only screen and (orientation: portrait) {
                justify-content: center;
                font-size: 2vh;
            }
           
            .Link {
                margin: 1vh;
                color:white;
                font-weight: 500;
                text-decoration: none;
                &:hover {
                    color: yellow;
                    text-decoration: underline;
                }
            }
            
        }
    }
    .Main {
        height: fit-content;
        .Content {
            width: 50%;
            height: 100%;
            margin:  auto;
            @include flex($dir:column);

            .LogoW {
                width: 100%;
                height: 20%;
            }
            .LogoC {
                width: 50%;
                margin: auto;
                height: 20vh;
            }
           
            form {
                width: fit-content;
                margin: auto;
                .Demo {
                    margin: 4vh;
                    font-size: 3vh;
                    background: none;
                    border: 1px solid white;
                    color:white;
                    padding: 1vh 3vh;
                    cursor: pointer;
                    outline: none;
                    &:hover {
                        color: yellow;
                        border-color: yellow;
                    }
                }
            }
            
        }
       
    }
    .Info {
       height: fit-content;
    }
}
