@import './mixins';

:root {
    --bg :  rgb(211, 209, 198);
    --font : rgb(100, 68, 13);
    --imgBg : #f0ffff;
    --btnBg : rgb(60, 68, 52);
}
body {
    background: var(--bg);
    position: relative;
    margin: 0 0;
    height: 100vh;
    width: 100vw;
    color: var(--font);
    border-color: var(--font);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Iceland', cursive;
}
.Hover {
    &:hover {
        cursor: pointer;
        filter: invert(100%);
    }
}

.Img {
    background-color: var(--imgBg);
    @include flex-c;
    overflow: hidden;
    height: 40%;
    img {
        height: 100%;
        max-width: 100%;
        display: block;
        margin:  auto;
    }
}

.Btn {
    @extend .Hover;
    color: var(--btnBg);
    width: 60%;
    font-size: 3vh;
    text-align: center;
    margin: 2% auto;
    padding: 2% 0;
    border: 2px solid var(--btnBg);
}

main {
    height: 60%;
    padding:0 5%;
    .Info {
       height: 60%;
       text-align: center;
       @include flex-c;
       flex-direction: column;
        .InfoSmall {
            width: fit-content;
            margin: auto;
            text-align: center;
            span {
                display: inline-block;
                font-size: 3vh;
                padding: 1vh;
            }
            .border-left {
                border-left: 1px solid;
            }
           
        }
       
        .InfoLarge {
            display: block;
            font-size: 7vh;
            
        }
        .Price {
            width: 100%;
            font-size: 6vh;
           
        }
        
    }
    .Buttons {
        @include flex-c;
        height: 40%;
        flex-direction: column;
        width: 100%;
    }
 
}

.Window {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 2.5vh;
    text-align: justify;
    overflow-y: scroll;
    background: var(--bg);
    transform: translateY(100%);
    box-sizing: border-box;
    padding: 12% 10%;
    transition: all 0.3s;

    .Back {
        @extend .Hover ;
        position: fixed;
        font-size: 3vh;
        top: 1%;
        left: 5%;
        background: var(--font);
        padding: 0 1vh;
        color:  var(--bg);
       
    }
    h2 {
        border-bottom: 1px solid var(--font);
        padding-bottom: 0.5rem;
    }

    .Counter {
        margin: auto;
        display: flex;
        width: fit-content;
        padding: 4vh 0;
    
        .Left, .Right {
            @extend .Hover ;
            height: 10vh;
            width: 6vh;
            background:var(--font);
        }
        .Left {
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
        }
        .Right {
            clip-path: polygon(0 0, 0 100%, 100% 50%);
        }
    
        .Count {
            font-size: 8vh;
            padding: 0 2vh;
        }
    }
    
    .Delivery {
        text-align: right;
        font-size: 5vh;
        padding: 4vh 0;
        
        span {
            margin: 0 1vh;
            transition: opacity 0.5s;
            @extend .Hover ;
        }
    }
    
    .Method {
        @extend .Hover ;
        font: inherit;
        display: block;
        background: none;
        width: fit-content;
        margin: 1.5vh auto;
        color:  var(--font);
        border: none;
        outline: none;
        font-size: 5vh;
        font-weight: 600;
        cursor: pointer;
    }

    .PayPal {
        @extend .Method;
        position: relative;  
    }
    .PayPalBtn {
       @include flex-c();
       position: absolute;
       top: 25%;
       left: -30%;
       width: fit-content;
       height: 100%;
       opacity:0; 
    }
   
}
.Success {
    @include flex-c;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.199);
    transition: opacity 0.3s;

    .Message {
        @include flex-c;
        box-sizing: border-box;
        padding: 1rem;
        background: var(--bg);
        font-size: 2vh;
        text-align: center;
        height: 90%;
        width: 90%;
        border: 1px solid;
        .Btn {
            width: 25%;
            margin-top: 15%;
        }
    }

}


@media only screen and (orientation : landscape) {
    body {
       flex-direction: row;
    }
    .Img {
        height: 100%;
        width: 50%;
        position: relative;

        img {
            height: 60%;
            @media only screen and (max-width: 1400px) {
                height: 40%;
            }
        }
        &::after {
            content: '';
            display: block;
            background-color: var(--font);
            height: 90%;
            width: 1px;
            position: absolute;
            right: 0;
            top: 5%;
            z-index: 2;
        }
    }
    main {
        height: 100%;
        width: 50%;
        padding: unset;
        .Info {
            height: 50%;
            margin-top: 10%;
        }
       .Btn {
           width: 30%;
           cursor: pointer;
       }
    }
    .Window {
        width: 50%;
        right: 0;
        top: 0;
        padding: 5% 10%;
    }
    .Success {
        .Message {
            height: 60%;
            width: 50%;
        }
    }
}

