body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Abhaya Libre", serif;
  background: linear-gradient(to bottom, #f2984a00, #ffda6c);
  -webkit-animation: fadeIn 0.2s ease-in both;
          animation: fadeIn 0.2s ease-in both;
}

.Background {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}

.Background .Header {
  height: 5vh;
  position: relative;
}

.Background .Header .AccountCtrl {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.1vh;
  padding-right: 2vh;
}

@media only screen and (orientation: portrait) {
  .Background .Header .AccountCtrl {
    font-size: 2.2vh;
  }
}

.Background .Header .AccountCtrl .Link {
  margin: 1vh;
  color: #422121;
  text-decoration: none;
}

.Background .Header .AccountCtrl .Link:hover {
  text-decoration: underline;
}

.Background .Main {
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Background .Left {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (orientation: portrait) {
  .Background .Left {
    width: 100%;
    height: 100%;
  }
}

.Background .Left .Content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}

.Background .Left .Content .LogoW {
  width: 100%;
  height: 20%;
}

.Background .Left .Content .LogoC {
  width: 50%;
  margin: auto;
  height: 20vh;
}

.Background .Left .Content form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.Background .Left .Content form .Demo {
  margin: 4vh;
  color: white;
  border-radius: 5px;
  font-size: 3vh;
  border: 1px solid #422121;
  background: #422121;
  padding: 1vh 3vh;
  cursor: pointer;
  outline: none;
  filter: drop-shadow(1px 1px 4px rgba(58, 58, 58, 0.295));
}

.Background .Left .Content form .Demo:hover {
  color: #422121;
  background: linear-gradient(to left, #eeecd5, #fcfbf5);
}

.Background .Right {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 60%;
}

@media only screen and (orientation: portrait) {
  .Background .Right {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.over-link {
  color: #422121;
  font-size: 2.1vh;
  margin: 0 1.2vh;
}

.over-link:hover {
  color: #422121;
  text-decoration: underline;
}

.header {
  height: 5vh;
}

.over-btn {
  background: linear-gradient(to right, #eeecd5, #fcfbf5);
  color: #422121;
  width: 25%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 100%;
  min-height: 2.5rem;
  border: 1px solid #422121;
  outline: none;
}

.over-btn:hover {
  color: white;
  background: #422121;
  border-color: white;
}

.over-btn:focus {
  outline: none;
}

.over-card {
  background: linear-gradient(to right, #eeecd5, #fcfbf5);
  margin-top: 10%;
  border-color: #422121;
  color: #422121;
}

.over-card-header {
  background: none;
  font-weight: 500;
  border-color: #422121;
}

.over-input {
  border-color: #422121;
}

.over-input:focus {
  box-shadow: 0 0 5px #969616;
}

.over-invalid-feedback {
  color: #c32231;
}

.ham-line {
  background: #422121;
  width: 2rem;
  margin: 0.5rem 0;
  height: 1px;
  background: #422121;
}

.over-ham-btn {
  border: 1px solid #422121 !important;
}

.over-ham-btn:focus {
  outline: none;
  border-color: #969616;
}

.over-ham-btn:focus .ham-line {
  background: #969616;
}

