//Font Size
$fontM : 2vh;
$fontN : 1.6vh;
$fontXLL : 8vh;
// Colors
$higlight : gold;
$bgGrad1 : rgb(215, 228, 240);
$bgGrad2 : rgb(160, 199, 231);
$bgField :  rgba(128, 128, 128, 0.178);
$bgFieldH : rgba(128, 128, 128, 0.301);
$border1 : rgba(128, 128, 128, 0.795);
$theme1 : rgb(53, 54, 52);
$theme2 :  rgb(231, 174, 15);
$fontLight : rgb(214, 230, 214);
$fontDark : rgb(50, 53, 50);
$shadowS : rgb(53, 54, 52);
$shadowL :  rgb(65, 64, 64);

// Size-dependencies
$aside : 15%;