@import '../../imports.scss';

input {
    outline: none;
}

body {
    color: rgb(75, 78, 97);
    font-family: 'Abhaya Libre', serif;
}


.CPanel {
    @include background(left);
    @include flex();
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  
    aside {
        @include background(right);
        width: 15vw ;
        height: 100%;
        border-right: 1px solid $border1;
        transition: width 0.2s;
        position: relative;
      
       
        .LogoWrap {
            height: 8vh;
            width: 60%;
            margin: 1vh auto;
        }
        .StoresWrap {
            height: 20%;
            @include flex-c;
        }
    }
    main {
        @include flex(column);
        width: 85vw;
        height: 100vh;
        transition: width 0.2s;
        
        .TopBar {
            @include flex();
            box-sizing: border-box;
            height: 10vh;
           
            .BarUser {
                width: 50%;
               display: flex;
                justify-content: flex-end;
            }
            .BarSearch {
                width: 50%;
            }
            
        }

        .TableCont {
            height: 90vh;
         }
    }
}




