@import './variables';
@import './mixins';

input {
    outline: none;
}

.CPanel {
    @include background(left);
    @include flex();
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    aside {
        @include background(right);
        width: 15vw ;
        border-right: 1px solid $border1;

        .LogoWrap {
            height: 8vh;
            width: 60%;
            margin: 1vh auto;
        }
        
        .User {
            height: 8%
        }
    }
    main {
        @include flex(column);
        width: 85vw ;
        .TopBar {
            @include flex($aitems : center);
            flex-basis: 10%;
           
            .BarStore {
                flex-basis: 50%;
            }
            .BarSearch {
                flex-basis: 50%;
            }
            
        }

        .TableCont {
            flex-basis: 90%;
         }
    }
}




