@import '../../imports.scss';

.Checkout {
    height: 100%;
}
.Preview {
    position: relative;
    height: 60vh;
    width:  30vh;
    margin-left: 10%;
    border-radius: 10px;
    border: 5px solid $theme1;
    border-bottom-width: 10px;
    font-family: 'Iceland', cursive !important;
    .Cam {
        @include position();
        width: 100%;
        div {
            background-color: $theme1;
            height: 1.5vh;
            width: 1.5vh;
            margin: 0.5vh auto;
            border-radius: 50%;
        }
    }

    .Img {
        @include flex-c();
        overflow: hidden;
        border-radius: 2% 2% 0 0;
        height: 40%;
        img {
            max-width: 100%;
            max-height: 95%;
            display: block;
            margin:  auto;
        }
    }

    .Main {
        height: 60%;
        padding:0 5%;
        display: flex;
        flex-direction: column;
        .Info {
           height: 60%;
           text-align: center;
           @include flex-c;
           flex-direction: column;
            .InfoSmall {
                width: fit-content;
                margin: auto;
                text-align: center;
                span {
                    display: inline-block;
                    font-size: 2vh;
                    padding: 1vh;
                }
                .border-left {
                    border-left: 1px solid;
                }
               
            }
           
            .InfoLarge {
                display: block;
                font-size: 5vh;
                
            }
            .Price {
                width: 100%;
                font-size: 4vh;
               
            }
            
        }
        .Buttons {
            @include flex-c;
            height: 40%;
            flex-direction: column;
            width: 100%;
            .Hover {
                &:hover {
                    cursor: pointer;
                    filter: invert(100%);
                }
            }
            .Btn {
                @extend .Hover;
                width: 50%;
                font-size: 2vh;
                text-align: center;
                margin: 2% auto;
                padding: 1.5% 0;
                border: 2px solid;
            }
        }
     
    }
}

.Colors {
    height: 100%;
    @include position($r: -25%, $l: initial);

    .ColorWrap {
        @include flex-c();
        position: relative;
       
        .Color {
            height: 2vh;
            width: 2vh;
            border-radius: 5px;
            border: 2px solid transparent;
            cursor: pointer;
            box-shadow: 2px 2px 2px gray;
            &:hover {
                border-color: $higlight;
            }
        }

        .ColorPicker {
            @include position;
            transform: translateX(80%);
         }
    }
    $wrapH : (1 45%, 2 20%, 3 15%, 4 20%);
    
    @each $pos, $h in $wrapH {
        .ColorWrap:nth-of-type(#{$pos}) {
            height: $h;
        }
    }
}







