@import '../../imports.scss';

.ProductView {
    margin-top: 5%;
    padding: 1vh;
    height: 70%;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 2px $theme1;
    @include background(left);
    @include flex-c();

    .Content {
        animation: fadeIn 0.5s ease-in both;
        width: 100%;
        height: 100%;
        @include flex();
       
        .Left {
            @include flex-c();
            width: 50%;

            img {
                height: 50%;
            }
        }

        .Right {
            width: 50%;
            @include flex-c;
            flex-direction: column;
            table, th, td, caption {
                border: 1px solid $theme1;
                border-collapse: collapse;
               
            }
            table {
                width: 80%;
                height: fit-content;
                text-align: center;
                margin: 5% 0;
                font-size: 2vh;
                color: initial;
                caption {
                    border-bottom: none;
                    font-size: 3vh;
                }
                td {
                    background: $bgGrad1;
                    width: 50%;
                }
              
            }
            
         
        }
    }
}