@import '../../../imports.scss';

.Navigator, .BtnWrap, .Tracker {
    @include flex-c();
}

.Navigator {
    flex-basis: 20%;
    justify-content: flex-start;
    
    .Tracker {
        font-weight: 600;
       
        font: inherit;
        margin-left: 1.2vh;
        justify-content: flex-start;

        span {
            padding: 0 0.5vh;
        }

        .TrackField {
            width: 2.5vh;
            height: 2.5vh;
            font-size: $fontN!important;
            text-align: center;
            background: none;
            color: inherit;
            border: 1px solid transparent;
            transition: border 0.2s;
           
            &:focus {
                background: $bgFieldH;
                border: 1px solid $theme1;
            }  
            &:hover {
                border: 1px solid $theme1;
            }   
        }
    }

    .BtnWrap {
         
        .Btn {
            height:2vh;
            margin-left: 1vh;
            fill: $theme1;
            cursor: pointer;

            &:hover {
                fill: $higlight;
            }
           
        }

        .LeftBtn {
            transform-origin: center;
           transform: rotate(180deg);
        }
        
    }
}









