@import '../../../imports.scss';

.Navigator, .BtnWrap, .Tracker {
    @include flex-c();
}

.Navigator {
    flex-basis: 20%;
    justify-content: flex-start;
    
    .Tracker {
        font-weight: 600;
       
        font: inherit;
        margin-left: 1.2vh;
        justify-content: flex-start;

        span {
            padding: 0 0.5vh;
        }

        .TrackField {
            width: 2.5vh;
            height: 2.5vh;
            font-size: $fontN!important;
            text-align: center;
            background: $bgField;
            color: inherit;
            border: 1px solid $border1;
            &:focus {
                background: $bgFieldH;
            }   
        }
    }

    .BtnWrap {
         filter: drop-shadow( 2px 2px 3px $shadowL);
         
        .Btn {
            height: 1.8vh;
            width: 2.8vh;
            margin-left: 1vh;
            background: rgb(53, 54, 52);
            cursor: pointer;

            &:hover {
                background: $higlight;
            }
        }

        .LeftBtn {
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
        }
        .RightBtn {
            clip-path: polygon(0 0, 0 100%, 100% 50%);
        }
    }
}









