.CPBarWrap {
    display: inline-block;
    margin-left: 15vw;
    width: 85vw;
}
.CPBar {
    display: flex;
    align-items: center;
}
.CPBarStore {
    flex-basis: 45%;
    align-items: center;
    justify-content: center;
}
.CPBarSearch {
    align-items: center;
    justify-content: center;
    flex-basis: 45%;
}
aside {
    position: fixed;
    z-index: 100;
    display: inline-block;
    background: linear-gradient(to right,  #c1b4dd, #e9e4f0);
    height: 100vh;
    width: 15vw;
    border-right: 1px solid rgba(128, 128, 128, 0.507);
}
body {
    background: linear-gradient(to left, #c1b4dd, #ebe8f0);
}
.CPAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    align-items: center;
}
.Backdrop {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    background: linear-gradient(to left, #c1b4ddc5, #ebe8f0c5);
    height: 100vh;
    width: 100vw;
}
.CloseBtn {
    height: 6vh;
    width: 6vh;
    position: absolute;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    right: 1.5rem;
    color: rgb(53, 54, 52);
    font-size: 6vh;
    border-radius: 50%;
    cursor: pointer;
}
.CloseBtn:hover {
    color:  rgb(231, 174, 15);
}

