.SBContainer {
    font-size: 2vh;
}
.SBWrap {
    display: inline-block;
    position: relative;
    width: 60%;
}
.SBContainer input {
    width: 100%;
    height: 4vh;
    outline: none;
    margin-left: 1rem;
    background: rgba(128, 128, 128, 0.096);
    border: 1px solid rgba(128, 128, 128, 0.705);
    box-shadow: 2px 2px 5px gray;
}
.SBContainer input:focus {
    background: rgba(128, 128, 128, 0.301);
}
.SBWrap:hover .SBFilters {
    display: flex;
}

.SBFilters {
    display: none;
    width: 100%;
    height: 2rem;
    position: absolute;
    top: 100%;
    left: 1rem;
}
.SBFilter {
   padding: 0 0.6rem;
   cursor: pointer;
   opacity: 0.7;
   transition: all 0.3s;
   font-size: 1.6vh;
}
.SBFilter:hover {
   opacity: 1;
 }
.SBFilterActive {
    color: gold;
    opacity: 1;
    text-shadow: 1px 1px 2px grey;
}
.SBFilters label {
    display: flex;
}