.SMCont {
    display: inline-block;
    width: 100%;
    margin-top: 20vh;
    
}
.SMbutton {
    display: block;
    cursor: pointer;
    width: 85%;
    height: 2rem;
    border: 1px solid rgb(207, 205, 205);
    border-left: none;
    color: rgb(214, 230, 214);
    background: rgb(53, 54, 52);
    margin-top: 0.8rem;
    border-radius: 0 15px 15px 0;
    transform-origin: left;
    outline: none;
    transition: 0.4s;
}
.SMActive {
    width: 90%;
    color: rgb(53, 54, 52);
    font-weight: 700;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.507);
    border-color: rgba(54, 52, 52, 0.247);
    background: rgb(231, 174, 15);
}
.SMbutton:hover {
    width: 90%;
    border-color: gold;
    color: gold;
}
.SMOption {
    display: inline-block;
    margin-top: 2px;
    background: rgb(53, 54, 52);
    border-radius: 0 10px 10px 0;
    width: 75%;
    text-align: center;
    color: rgb(214, 230, 214);
    cursor: pointer;
    transition: all 0.4s;
}
.SMOption:hover {
    width: 80% ;
    border-color: gold;
    color: gold;
}