.TBHCont {
    display: flex;
    font-weight: 600;
}
.TBHCell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-bottom: none;
    background: linear-gradient(to bottom, #8e9eab83, #eef2f38a);
    height: 2rem; 
    cursor: pointer;
    transition: all 0.5s;
}
.TBHCell:hover {
    border-color: orange;
    color: rgb(150, 97, 0);
}