.TXIInput {
    width: 65%;
    height: 4vh;
    outline: none;
    background: rgba(128, 128, 128, 0.096);
    border: 1px solid rgba(128, 128, 128, 0.705);
    box-shadow: 2px 2px 5px gray;
}
.TXIInput:focus {
    background: rgba(128, 128, 128, 0.301);
}
.ValidationMessage {
    text-align: right;
    width: 65%;
    color: crimson;
}