.CPUserCtrl {
    font-size: 2vh;
    font-weight: 600;
    height: 3vh;
    overflow: hidden;
}
.CPUserCont {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
}
.CPUserIndicator {
    border-radius: 50%;
    background-color: rgb(235, 154, 4);
    margin:0 0.8rem;
    height: 1.5vh;
    width: 1.5vh;
}
.CPUserCtrl:hover .CPUserCont {
    transform: translateY(-100%);
}
.CPUserCtrl a {
    text-decoration: none;
}