@import '../../Layout/scss/variables';
@import '../../Layout/scss/mixins';
@import '../../Layout/scss/anim';

.Panel {
    @include position($pos:fixed, $r: 0, $b:0);
    z-index: 1;
    overflow-y: scroll;
    background: linear-gradient(to left, $bgGrad1, $bgGrad2);

    .Control {
        display: inline-block;
        box-sizing: border-box;
        width: 80%;
        height: 20%;
        border-top: 1px solid $theme1;
        @include flex($jcont: flex-end);
       
        .PanelBtn {
            width: 10vh;
            height: 3vh;
            margin: 2vh 1vh;
            border-radius: 5px;
            background: rgb(53, 54, 52);
            box-shadow: 2px 2px 5px rgb(53, 54, 52);
            color: rgb(214, 230, 214);
            font-weight: 700;
            font-size: 1.5vh;
            border-color: transparent;
            transition: 0.6s;

            &:hover {
                border-color:rgb(53,54,52);
                color: rgb(53,54,52);
                background: rgb(231,174,15);
            }
        }
    }
    .Main {
        display: flex;
        height: 100%;
        h3 {
            display: inline-block;
            border-bottom: 1px solid $theme1;
            padding-bottom: 0.5rem;
            width: 80%;
        }
        .Left {
            flex-basis: 50%;
            animation: slideIn-left 0.3s;
            .Content {
                padding-left: 15%;
                height: 100%;
            }
        }
        
        .Right {
            flex-basis: 50%;
            animation: slideIn-right 0.3s;
    
            .Content {
                height: 80%;
            }

            .Name {
                font-size: 3vh;
            }
        }
    
        .Group-col {
            display: flex;
            flex-direction: column;
            width: 80%;
            label {
                font-size: $fontN;
                padding: 0.5vh 0;
                font-weight: 600;
            }
        }
    
        .jus-end {
            justify-content: flex-end;
        }
        
        .Group-row {
            @extend .Group-col;
            flex-direction: row;
        }
        .Group-text {
            @extend .Group-col;
            height: 20%;
            padding-bottom: 2vh;
        }
        .Group-half {
            flex-basis: 50%;
            display: flex;
        }
    }
}







.PayLogo {
    width: 8vh;
    margin: auto;
}