@import '../../imports.scss';

.Search {
    font-size: $fontM;
    @include flex-c;
    
    .Bar {
        position: relative;
        flex-basis: 80%;
        input {
            height: 5vh;
            box-sizing: border-box;
            font-size: 1.8vh;
            color: inherit;
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid $theme1;
    
            &:focus {
                border-bottom: 2px solid $theme1;
            }
        }

        .Filters {
            @include position($t: 100%, $l:0);
            width: 100%;
            @include flex-c;
            justify-content: flex-end;
            height: 3vh;
            
            font-size: $fontN;
         
           
            .Filter {
                padding: 0 0.6vh;
                color: $theme1;
                text-shadow: 0px 0px 1px gray;
                cursor: pointer;
                opacity: 0.8;
                transition: all 0.3s;
               
               &:hover {
                 opacity: 1;
               }
            }
            .Active {
                text-decoration: underline;
                opacity: 1;
               
            }          
        }
        
    }
}



    




