@import '../../imports.scss';

.Search {
    font-size: $fontM;
    @include flex( $aitems: center );
    
    label {
        flex-basis: 10%;
        text-align: center;
        font-weight: 600;
        color: inherit;
    }
    .Bar {
        position: relative;
        flex-basis: 80%;
        input {
            height: 5vh;
            font-size: 1.8vh;
            color: inherit;
            width: 100%;
            background: $bgField;
            border: 1px solid $border1;
            
            &:focus {
                background: $bgFieldH;
            }
        }

        .Filters {
            @include position($t: 75%, $l:10%);
            width: fit-content;
            margin: auto;
            height: 3vh;
            @include flex-c;
            background:rgb(218, 218, 218);
            border: 1px solid $border1;
            font-size: $fontN;
         
           
            .Filter {
                padding: 0 0.6vh;
                color: $theme1;
                text-shadow: 0px 0px 1px gray;
                cursor: pointer;
                opacity: 0.8;
                transition: all 0.3s;
               
               &:hover {
                 opacity: 1;
               }
            }
            .Active {
                color: $higlight;
                opacity: 1;
                text-shadow: 1px 1px 2px $shadowL;
            }          
        }
        
    }
}



    




