button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: none;
    margin: none;
    
}
.AddProduct {
    font-size: 1.8vh;
    font-weight: 600;
    color:   rgba(82, 82, 79, 0.815);
    width: 20%;
    height: 3vh;
    text-align: center;
    transition: all 0.5s;
    background:transparent;
    border: 1px solid  rgba(82, 82, 79, 0.815);
    border-radius: 10px;
    &:hover {
        background:  rgb(231, 174, 15);
    }
}

.StoreBtnOpt {
    background: rgb(53, 54, 52);
    font-size: 1.5vh;
    border-radius: 10px;
    color: rgb(214, 230, 214);
    padding: 5px 10px;
    margin-left: 1rem;
}