@import '../../Layout/scss/mixins';

.Currency {
    @include flex-c();
    margin-left: 1rem;

    .Btn {
        display: inline-block;
        font-size: 2.2vh;
        color: rgb(53, 54, 52);
        transition: opacity 0.4s;
        padding: 0 0.3rem;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}




