@import '../../imports.scss';

.Textarea {
    min-height: 10vh;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $border1;
    background: none;
    font-family: inherit;
    font-size: $fontN;
    &:focus {
        background:none;
        border-color: $theme2;
    }
}


