@import '../../imports.scss';

.TextInput {
    width: 100%;
    height: 2.6vh;
    font-family: inherit;
    background: none;
    border: none;
    border-bottom: 1px solid $border1;
    font-size: 1.5vh;
    &:focus {
        background:none;
        border-color: $theme2;
    }
}

.ValidationMessage {
    text-align: right;
    width: 100%;
    color: crimson;
}